# To specify/override the input variable values
region = ""
data_volumes = [
  {
    ebs_volume_id     = ""
    availability_zone = ""
  },
  {
    ebs_volume_id     = ""
    availability_zone = ""
  }
]